@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.alert-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.alert {
  padding: 1rem;
  border-radius: var(--border-radius-md);
  margin-bottom: 1rem;
  
  &--error {
    background: rgba(var(--v-theme-error), 0.1);
    color: rgb(var(--v-theme-error));
  }
  
  &--success {
    background: rgba(var(--v-theme-success), 0.1);
    color: rgb(var(--v-theme-success));
  }
  
  &--info {
    background: rgba(var(--v-theme-info), 0.1);
    color: rgb(var(--v-theme-info));
  }
  
  &--warning {
    background: rgba(var(--v-theme-warning), 0.1);
    color: rgb(var(--v-theme-warning));
  }
}
